{
  "parser": "babel-eslint",
  "plugins": ["react"],
  "extends": ["airbnb"],
  "globals": {
    "React": true,
    "document": true,
    "window": true,
    "jQuery": true,
    "$": true,
    "localStorage": true,
    "fetch": true
  },
  "root": true,
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prop-types": 0,
    "object-curly-newline": 0,
    "import/prefer-default-export": 0
  }
}
